.header {
    background-image: url("../img/ground003.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.headwords {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card {
    width: 300px;
    margin: 16px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.card img {
    max-width: 100%;
    height: 270px;
    text-align: center;
}

.card .text {
    padding: 0 10px 10px;
}

.card .text>button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

/* .card:nth-child(1) {
    width: 450px;
} */